@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,700&display=swap");

body {
  margin: 0;
  font-family: Karla, sans-serif;
  box-sizing: border-box;
}

.navbar {
  height: 65px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 15px;
  background: linear-gradient(to right, #672280, #a626d3);
  align-items: center;
}

.logo {
  width: 40px;
  padding-left: 10px;
}

.nav--title {
  font-size: 2rem;
  padding-left: 10px;
}

.content-wrap {
  margin-left: 36px;
  margin-right: 36px;
  padding: 20px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.meme-input {
  height: 35px;
  border: 2px solid lightgrey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 15px 0px 10px 0px;
  text-align: left;
  padding-left: 10px;
  text-indent: 10px;
}

.search-button {
  background: linear-gradient(to right, #672280, #a626d3);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: large;
  grid-column: 1 / -1;
  height: 40px;
  border: none;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.meme-img {
  max-width: 100%;

  margin-top: 20px;
}
